<div class='home__page grid__column-10'>
  <div class='home__control' id ={{role}}>
    <div class='grid__row'>
      <!-- Hand mode -->
      <div class='grid__column-2-5'>
        <div class='home__mode'>
          <div class='home__mode-hand-mode'>
            <div class='mode__tittle'>Hand mode</div>
            <div class='mode__container'>
              <button class='btn__primary btn--hand btn--home'>Motor On</button>
              <button class='btn__primary btn--hand btn--home'>Motor Off</button>
              <button class='btn__primary btn--hand btn--home'>Push Out</button>
              <button class='btn__primary btn--hand btn--home'>Pull Back</button>
              <button class='btn__primary btn--hand btn--home'>Left Down</button>
              <button class='btn__primary btn--hand btn--home'>Left Up</button>
              <button class='btn__primary btn--hand btn--home'>Hold On</button>
              <button class='btn__primary btn--hand btn--home'>Hold Off</button>
              <button class='btn__primary btn--hand btn--home'>Go Out</button>
              <button class='btn__primary btn--hand btn--home'>Go Back</button>
            </div>
          </div>
        </div>
      </div>
        
      <!-- Dash board -->
      <div class='grid__column-2-5'>
        <div class='home__mode'>
          <div class='home__mode-dashboard'>
            <div class='mode__tittle'>Dashboard</div>
            <div class='mode__container container--dash'>

              <div class="btn__dash">
                <button class='btn__primary btn--dash btn--home'></button>
                <p class="btn__dash-text">Start</p>
              </div>

              <div class="btn__dash">
                <button class='btn__primary btn--dash btn--home'></button>
                <p class="btn__dash-text">Stop</p>
              </div>
              
              <div class="btn__dash">
                <button class='btn__primary btn--dash btn--home btn--edit1'></button>
                <p class="btn__dash-text">Emergency</p>
              </div>
              
              <div class="btn__dash">
                <button class='btn__primary btn--dash btn--home btn--edit2'></button>
                <p class="btn__dash-text text-reset">Reset</p>
              </div>

              <div class="form-box">
                  <div class="button-box">
                    <div id="btn--switch"></div>
                    <button type="button" class="toggle-btn sw--left btn__primary" >Man</button>
                    <button type="button" class="toggle-btn sw--right btn__primary" >Auto</button>
                  </div>
            </div>
              
            </div>
          </div>
        </div>
      </div>

      <!-- Type product -->
      <div class='grid__column-2-5'>
        <div class='home__mode'>
          <div class='home__mode-type-product'>
            <div class='mode__tittle'>Type of Product</div>
            <div class='home__type-product'>
              <i class='icon__type fa-solid fa-lightbulb'></i>
              Type 1
            </div>
            <div class='home__type-product'>
              <i class='icon__type fa-solid fa-lightbulb'></i>
              Type 2
            </div>
            <div class='home__type-product'>
              <i class='icon__type fa-solid fa-lightbulb'></i>
              Type 3
            </div>
          </div>
        </div>
      </div>

      <!--Home notification-->
      <div class='grid__column-2-4'>
        <div class='home__mode'>
          <div class='home__mode-noty-light'>
            <div class='noty'>
              <i class='noty__icon fa-solid fa-circle'></i>
              <p class='noty__text'>Man</p>
            </div>
            <div class='noty'>
              <i class='noty__icon fa-solid fa-circle'></i>
              <p class='noty__text'>Auto</p>
            </div>

            <div class='noty'>
              <i class='noty__icon fa-solid fa-circle'></i>
              <p class='noty__text'>Run</p>
            </div>

            <div class='noty'>
              <i class='noty__icon fa-solid fa-circle'></i>
              <p class='noty__text'>Alarm</p>
            </div>
          </div>
          <div class='home__mode-noty-desc'>
            <div class='mode__tittle'>Height notifications</div>
          </div>
        </div>
      </div>

      <div class='grid__column-2-4'>
        <div class='home__mode'>
          <div class='mode__tittle'>Total products</div>
          <!-- Each product count -->
          <div class='grid__row'>
            <div class='grid__column-product'>
              <p class='text__total'>Total product 1</p>
              <i class='icon__total fa-solid fa-box-open'></i>
              <input
                type='text'
                class='total__setting '
                id="total1"
                placeholder='Number total'
              />
              <p class='current__count count-sp1'>0</p>
            </div>

            <div class='grid__column-product'>
              <p class='text__total'>Total product 2</p>
              <i class='icon__total fa-solid fa-box-open'></i>

              <input
                  type='text'
                  class='total__setting '
                  id="total2"
                  placeholder='Number total'
                />
              
              <p class='current__count count-sp2'>0</p>
            </div>

            <div class='grid__column-product'>
              <p class='text__total'>Total product 3</p>
              <i class='icon__total fa-solid fa-box-open'></i>
              <input
                type='text'
                class='total__setting'
                id="total3"
                placeholder='Number total'
              />
              <p class='current__count count-sp3'>0</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script src='/socket.io/socket.io.js'></script>
<script>
  document.addEventListener('DOMContentLoaded', async function(){ 

      // handle switch 
      const btnSwitch = document.getElementById('btn--switch');
      const btnSwleft = document.querySelector('.sw--left');
      const btnSwright = document.querySelector('.sw--right');

      btnSwleft.addEventListener('click',(e)=>{
          btnSwitch.style.left = '0';
      })

      btnSwright.addEventListener('click',(e)=>{
          btnSwitch.style.left = '50px';
      })

      


      const formNewHis=document.forms['form__cre-his'];
      const container = document.querySelector('.home__control');
      let input = document.querySelectorAll('.total__setting');
      
          input.forEach((inp) => inp.addEventListener('change', (e)=> {
            // total1 -- total2 --total3
            const publicName = inp.id;
            const publicValue = inp.value;

            // send to server -> mqtt
            socket.emit('client message01', {publicName: publicName, publicValue: publicValue} );
          }));
  
      
      // get role of user
      const role = await container.id;
      const socket = io();

      
      // render number of current product from sever socket emit
      //count sp1
      socket.on('quantityS1', function(msg) {
        const countSp1 = document.querySelector('.count-sp1');
        countSp1.textContent = msg;
      });

      //count sp2
      socket.on('quantityS2', function(msg) {
        const countSp2 = document.querySelector('.count-sp2');
        countSp2.textContent = msg;
      });

      //count sp3
      socket.on('quantityS3', function(msg) {
        const countSp3 = document.querySelector('.count-sp3');
        countSp3.textContent = msg;
      });

      
      if (role === 'viewer'){
        // config viewer
          const btns = document.querySelectorAll('.btn__primary');
          btns.forEach(btn => {
            btn.classList.remove('btn--home');
            btn.classList.add('btn--disable');
          })
      }
      else{
      // handle button
      container.addEventListener('click',function(e){ 
          e.preventDefault();
          const btn = e.target.closest('.btn__primary'); 
          if (!btn) return;
          let behavior = btn.textContent.trim();
          if  (!behavior) behavior = btn.closest('.btn__dash').lastElementChild.textContent.trim();
          behavior = behavior.toLowerCase();

          console.log(behavior);
          // send to server -> mqtt
          socket.emit('client message', behavior );
          
          // post creat history

          const mess = `Click ${behavior} from Web Client`;
          axios.post('/history/store', {
            behavior: mess
          })
          .then((res)=>{}
          )
          .catch(function (error) {
            console.log(error);
          });
      });
      }});
</script>