<div class="modal">
  <div class="modal__overlay"></div>
  <div class="modal__body">
    <div class="modal__login">
      <div class="login__header">Login</div>
      <div class="login__group">
        <input type="text" class="login__user" placeholder="User name" />
        <input type="text" class="login__pass" placeholder="Pass word" />
      </div>
      <div class="login__btn">
        <button class="btn__login">Login</button>
      </div>
    </div>
  </div>
</div>