<div class='reg__page grid__column-10'>
  <div class='reg_control'>
    <div class='grid__row btn__sup-add'>
         <button class='btn__primary btn__sup1 btn__history'>
          ADD NEW DEVICE
        </button>      
    </div>
  </div>

  <div class='history__table'>
    <div class='grid__row'>
      <!-- table tittle -->
      <div class='table table__header'>
        <span class='table__col'>Number</span>
        <span class='table__col'>Name device</span>
        <span class='table__col'>Ip address</span>
        <span class='table__col'>Company</span>
        <span class='table__col'>More</span>
      </div>

      <!-- Table data -->
      {{!-- {{#each histories}} --}}
        <div class='table table__data'>
          <span class='table__col'>1</span>
          <span class='table__col'>plc01</span>
          <span class='table__col'>192.168.1.1</span>
          <span class='table__col'>HCMUT</span>
          <div class='table__col'>
              <button class='btn__primary btn--list-sup btn--sup-del'>
                -
              </button>
              <button class='btn__primary btn--list-sup btn--sup-edit'>
                ?
              </button>

          </div>

        </div>

        <div class='table table__data'>
          <span class='table__col'>2</span>
          <span class='table__col'>plc01</span>
          <span class='table__col'>192.168.1.1</span>
          <span class='table__col'>None</span>
          <div class='table__col'>
              <button class='btn__primary btn--list-sup btn--sup-del'>
                -
              </button>
              <button class='btn__primary btn--list-sup btn--sup-edit'>
                ?
              </button>

          </div>

        </div>

        <div class='table table__data'>
          <span class='table__col'>3</span>
          <span class='table__col'>plc01</span>
          <span class='table__col'>192.168.1.1</span>
          <span class='table__col'>HCMUT</span>
          <div class='table__col'>
              <button class='btn__primary btn--list-sup btn--sup-del'>
                -
              </button>
              <button class='btn__primary btn--list-sup btn--sup-edit'>
                ?
              </button>

          </div>

        </div>


        <div class='table table__data'>
          <span class='table__col'>4</span>
          <span class='table__col'>plc01</span>
          <span class='table__col'>192.168.1.1</span>
          <span class='table__col'>HCMUT</span>
          <div class='table__col'>
              <button class='btn__primary btn--list-sup btn--sup-del'>
                -
              </button>
              <button class='btn__primary btn--list-sup btn--sup-edit'>
                ?
              </button>

          </div>

        </div>

        <div class='table table__data'>
          <span class='table__col'>5</span>
          <span class='table__col'>plc01</span>
          <span class='table__col'>192.168.1.1</span>
          <span class='table__col'>HCMUT</span>
          <div class='table__col'>
              <button class='btn__primary btn--list-sup btn--sup-del'>
                -
              </button>
              <button class='btn__primary btn--list-sup btn--sup-edit'>
                ?
              </button>

          </div>

        </div>

      {{!-- {{/each}} --}}

    </div>
  </div>

</div>