/* CSS login */

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}

.modal__overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9a9e7df9-f956-49d0-ae74-9b2da9d3b05e/d5iwai9-d8cacb8e-cb5f-4067-94c8-eaa1c44e484c.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzlhOWU3ZGY5LWY5NTYtNDlkMC1hZTc0LTliMmRhOWQzYjA1ZVwvZDVpd2FpOS1kOGNhY2I4ZS1jYjVmLTQwNjctOTRjOC1lYWExYzQ0ZTQ4NGMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.o9RxoGFwpXoxP-fcuUJQjKBD2y1Yz7ROJKbxj-B16Y8);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal__body {
  background-color: rgba(133, 116, 116, 0.5);
  position: relative;
  z-index: 1;
  margin: auto;
  border-radius: 10px;
}

.modal__login {
  height: 300px;
  width: 350px;
  padding: 20px;
  color: var(--white-color);
}

.login__header {
  height: 40px;
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  line-height: 40px;
  transform: uppercase;
}

.login__group {
  margin-top: 40px;
  display: block;
}

.login__user {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1.6rem;
  background-color: rgba(133, 116, 116, 0.5);
  color: #333;
  border-color: var(--main-color);
}

.login__pass {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.6rem;
  background-color: rgba(133, 116, 116, 0.5);
  color: var(--text-color);
  border-color: var(--main-color);
}

.login__btn {
  margin-top: 30px;
  text-align: center;
}

.btn__login {
  background-color: rgba(133, 116, 116, 0.5);
  border: none;
  padding: 14px 30px;
  border-radius: 30px;
  color: #fff;
  font-size: 1.8rem;
  cursor: pointer;
}
.btn__login:hover {
  opacity: 0.6;
  color: #333;
}

.hidden {
  display: none;
}

/* HEADER CSS */
.header {
  height: 70px;
  background-color: var(--main-color);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__content,
.header__tittle {
  font-size: 24px;
  font-weight: 500;
  color: var(--white-color);
  align-items: center;
  height: 100%;
  line-height: 70px;
}

.btn--log-out {
  font-size: 1.6rem;
  border: none;
  background-color: var(--main-color);
  color: var(--white-color);
  text-transform: uppercase;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}

.nav__header {
  background-color: #e9a7a0;
  height: 508px;
}
.nav__logo-img {
  background-color: #e9a7a0;
  padding-top: 70%;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 70%;
}

.nav__heading {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
}

.nav__list {
  padding-left: 0;
  list-style: none;
}

.nav__item {
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 10px;
  padding-top: 20px;
  height: 40px;
}

.nav__item:hover {
  background-color: antiquewhite;
  cursor: pointer;
}

.nav__Link {
  text-decoration: none;
  color: var(--text-color);
}

.nav__icon {
  font-size: 1.4rem;
  color: var(--white-color);
  margin-right: 8px;
}

.container {
  background-image: var(--color-background);
}

/* Home CSS */

.home__mode {
  border: 2px solid var(--text-color);
  margin-top: 4px;
  border-radius: 6px;
  overflow: hidden;
  background-color: var(--light-background);
  min-height: 250px;
}

.mode__tittle {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  background-color: var(--main-color);
  line-height: 2.4rem;
  margin-bottom: 10px;
}

.mode__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.btn--hand {
  margin-top: 6px;
  flex: 1;
}

.btn__primary {
  color: var(--white-color);
  background-image: var(--btn-background);
  font-size: 1.6rem;
  text-transform: uppercase;
  border-color: var(--text-color);
  border-radius: 4px;
}

.btn--dash {
  margin-top: 6px;
}

.icon__type {
  font-size: 2.2rem;
  color: var(--main-color);
}

.home__type-product {
  font-size: 1.6rem;
  font-weight: 400;
  color: (--text-color);
  margin: 8px 8px;
}

.home__mode-noty-light {
  margin-top: 8px;
  display: flex;
  justify-content: space-around;
}

.noty__icon {
  font-size: 2.4rem;
  color: var(--grad-1);
  margin-left: 6px;
}

.noty__text {
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 4px 0;
}

.text__total {
  margin-top: 20px;
  color: var(--main-color);
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.icon__total {
  color: var(--grad-1);
  font-size: 7rem;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.total__setting {
  color: var(--text-color);
  margin: 4px;
  margin-left: 15px;
  width: 70%;
  font-size: 1rem;
}

.current__count {
  text-align: center;
  margin-top: 6px;
  font-size: 2rem;
}

/* History CSS */
.history__btn,
.alarm__btn {
  margin-top: 6px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 60px;
}

.btn__history,
.btn__alarm {
  border-color: var(--grad-1);
  border-radius: 6px;
  box-shadow: 2px 2px var(--text-color) 2px;
  cursor: pointer;
  width: 20%;
  color: var(--text-color);
}

.form-option,
.alarm__form-option {
  margin-top: 10px;
  border-radius: 3px;
  height: 35px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--light-background);
}

.option-text,
.alarm__option-text {
  font-size: 1.4rem;
  line-height: 35px;
  font-weight: 500;
  margin: 4px;
}

.date-from,
.alarm__date-from {
  padding: 3px;
  color: var(--text-color);
}

.btn__date-from,
.btn-alarm__date-from {
  float: right;
  margin-top: 6px;
  margin-right: 10px;
  cursor: pointer;
  border-color: var(--text-color);
}

.history__table,
.alarm__table,
.reg__table {
  background-color: var(--color-background);
  padding: 12px;
  margin: 20px 40px 0 40px;
}

.table {
  width: 100%;
  height: 34px;
  display: flex;
  justify-content: space-around;
  margin: 0 8px;
  border: 1px solid var(--light-background);
  border-radius: 4px;
}

.table__header {
  background-color: #ffe8aa;
}

.table__id,
.table__time,
.table__controller,
.table__subject,
.table__alarm,
.table__name,
.table__role {
  line-height: 34px;
  font-size: 1.4rem;
  font-weight: 400;
  margin-left: 10px;
  flex: 1;
}

.welcome {
  font-size: 1.9rem;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}

.login__input {
  margin-top: 6px;
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  width: 16rem;
  border-radius: 10rem;
  margin-right: 1rem;
  color: inherit;
  border: 1px solid #fff;
  transition: all 0.3s;
}

.login__input:focus {
  outline: none;
  border: 1px solid #ccc;
}

.login__input::placeholder {
  color: #bbb;
}

.login__btn {
  border: none;
  background: none;
  font-size: 2.2rem;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s;
}

.login__btn:hover,
.login__btn:focus,
.btn--sort:hover,
.btn--sort:focus {
  outline: none;
  color: #777;
}

.form-reg {
  margin-top: 100px;
}

.reg__table {
  margin-top: 100px;
}

.footer__text {
  text-align: center;
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 48px;
}

.footer {
  height: 48px;
  border-top: 4px solid var(--main-color);
  background-color: var(--main-color);
}
